#!/usr/bin/make -f

export VENDOR ?= 1
export prefix = /usr
CLEAN ?= 1

%:
	dh $@

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	make clean;
endif
ifeq ($(VENDOR),1)
	if ! ischroot; then \
		make vendor; \
		rm -rf vendor; \
	fi
endif

override_dh_auto_build:
	env CARGO_HOME="$$(pwd)/target/cargo" dh_auto_build
