name: ci
on:
  pull_request:
  push:
    branches:
      - main
      - actions
jobs:
  test:
    name: test
    env:
      # Emit backtraces on panics.
      RUST_BACKTRACE: 1
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build:
          - stable
          - macos
          - win-msvc
        include:
          - build: stable
            os: ubuntu-18.04
            rust: stable
          - build: macos
            os: macos-latest
            rust: stable
          - build: win-msvc
            os: windows-2019
            rust: stable
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          components: rustfmt, clippy

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Build
        run: cargo build --verbose

      # This is useful for debugging problems when the expected build artifacts
      # (like shell completions and man pages) aren't generated.
      - name: Show build.rs stderr
        if: matrix.os == 'windows-2019'
        shell: bash
        run: |
          set +x
          stderr="$(find "./target/debug" -name stderr -print0 | xargs -0 ls -t | head -n1)"
          if [ -s "$stderr" ]; then
            echo "===== $stderr ===== "
            cat "$stderr"
            echo "====="
          fi
          set -x

      - name: Run tests
        run: cargo test --verbose

      - name: Upload unix binary
        if: matrix.os != 'windows-2019'
        uses: actions/upload-artifact@v1
        with:
          name: ${{ matrix.os }}-${{ matrix.rust }}
          path: target/debug/bandwhich

      - name: Show target folder contents
        if: matrix.os == 'windows-2019'
        shell: bash
        run: |
          ls -la target/debug

      - name: Upload windows binary
        if: matrix.os == 'windows-2019'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.rust }}
          path: |
            target/debug/bandwhich.exe
            target/debug/bandwhich.pdb
